nav
{
   color: rgb(250, 250, 250);
   display: flex;
   align-items:center;
   padding: 20px 0;
   gap: 12%;
}

@media (max-width:480px){
    nav{
       justify-content: space-between;
       padding: 10px 0;
       gap: unset;
    }
}

.logo
{
   
    font-style:oblique;
    color: black;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

@media (max-width:480px){
    .logo{
       font-size: 20px;        
    }
}
.option
{
   width: 50px;
   height: 50px;
}

a
{
    text-decoration: none;
    color: rgb(7, 7, 7);
    font-size: 15px;
    font-weight: bold;
    
}
.menu
{  
    gap: 114px;
    display: flex;
}

@media(max-width:480px){
    .menu{
        display: none;
    }
}
.option
   {
     display: none;

   }
 @media (max-width: 480px) 
{
   .option
   { 
     display:inline-block;
     width: 40px;
     height: 40px;

   }

}



.btn-ouvrir{
    color: black;
    cursor: pointer;
    font-size: 20px;
}

.btn-fermer{
    cursor: pointer;
    right: 20px;
    top: 20px;
    position: absolute;
}


.nav-mobile{
    z-index: 999;
    left: 0;
    padding-top: 20%;
    align-items: center;
    flex-direction: column;

    color: white;
    background-color: black;
    width: 100vw;
    height: 100vh;
    top: 0;
    position: fixed;
    display: none;
}

@media (min-width:480px) {
    .nav-mobile{
        display: none;
    }
    .nav-mobile-ouvrir{
    display: flex;
    }
}

.nav-mobile ul{
    font-weight: bold;
    font-size: 20px;
    gap: 10px;
    flex-direction: column;
    display: flex;
    text-align: center;
list-style: none;
}
.nav-mobile a{
    color: white;
}

@media (min-width:480px) {
    .btn-ouvrir{
        display: none;
    }
}

