@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body
{
    font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif,Arial;
    padding: 0 10%;

}
@media(max-width: 480px) 

{
    body
    {
    padding: 0% 6%;
    
    }
}
.sec
{   
    position: relative;
    background: url('cover.jpg');
    background-size:cover;
    background-position: center;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    padding: 0 20%;

    
}

@media(max-width: 480px) 
{
   .sec {
       height: 50vh;
       padding: 0 5%;
    }

}


.sec .rmn
{   
    color: rgb(255, 255, 255);
    font-size:  42px;
    
    
}

.gallery_ex
{  
    flex-direction: column;
    display: flex;
    gap: 5px;
}

.sec_2
{   
    margin-top: 20px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 480px) 
{
    .sec_2
    {
        display: flex;
        flex-direction: column;
        justify-content:space-around;
    }
}
.img_sec
{
    border-radius: 10px
    width: 100%;
    object-fit: cover;
    width: 100%;
}
.marque
{
    color: black;
    font-size:  20px;
    
    

    
}
.span_1
{   
    
    font-size:  15px;
    color: rgb(167, 163, 163);
    

}
.prix
{
    color: red;
    font-size: 15px;
    font-weight: bold;
   
}


 h2
{  

   color: white;
   font-size: 20px;
  
}
.about_us
{
    font-size: 50px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-top: 40px;
}

@media(max-width: 480px){
    .about_us{
        font-size: 30px;
        text-align:center;
    }
}

.section_3
{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    
}
@media(max-width:480px)
{
    .section_3
    {
    display: flex;
    flex-direction:column;
}
}

.section_3 div
{   
    
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: center;
        align-items:center;
        height: 350px;
        background-color: rgb(249, 249, 253);
}
@media(max-width:480px)
{
    .section_3 div
{   
        height: 260px;
        gap:10px;
        padding: 10px;
}
}

.section_3 div img
{
    margin-top: 15px;
    width: 70px;
    height: 70px;
   

}
.paragraph
{
    font-size: 15px;
    color: rgb(167, 163, 163);
   
}
.nav_mobile
{
    display: none;
}





  




